
.navbar {
  background: #111; 
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-brand h2 {
  color: #fff;
  margin: 0;
}


.nav-links a {
  color: #e5e5e5;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 2px;
  transition: 0.2s ease;
}


.nav-links a:hover {
  color: #ffae00;
  border-bottom: 2px solid #ffae00;
}


.btn-login {
  background: #ffae00;
  color: #111 !important;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn-login:hover {
  background: #ffc236;
}
